.icon {
  display: inline-block;
  width: 1.125rem;
  height: 1.5rem;
  min-width: 1.125rem;
  min-height: 1.5rem;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: currentColor;

  &--sm {
    width: 1.125rem;
    height: 1rem;
    min-width: 1.125rem;
    min-height: 1rem;
  }

  &--play {
    mask-image: url("/svg/play.svg");
  }

  &--star {
    mask-image: url("/svg/star.svg");
  }

  &--cross {
    mask-image: url("/svg/cross.svg");
  }

  &--white {
    background-color: $color-white;
  }
}
