$color-primary: hsla(208, 59%, 18%, 1);
$color-secondary: hsla(168, 88%, 23%, 1);
$color-tetriary: hsla(147, 54%, 47%, 1);
$color-quaternary: hsla(96, 12%, 92%, 1);
$color-black: hsla(0, 0%, 0%, 1);
$color-white: hsla(0, 0%, 100%, 1);
$color-content: hsla(0, 0%, 13%, 1);
$color-danger: hsla(0, 100%, 31%, 1);

$color-backdrop: hsla(0, 0%, 0%, 0.5);

$transition-default: all 0.2s ease;

$padding-default: 1.875rem;
